<header id="content-header">
  <h1>Sign In</h1>
</header>

<%= form_tag(session_path) do %>
  <fieldset>
    <ol>
      <li class="required">
        <%= label_tag :email_or_username %>
        <%= text_field_tag :email_or_username, nil, autofocus: true, required: true %>
      </li>
      <li class="required">
        <%= label_tag :password %>
        <%= password_field_tag :password, nil, required: true %>
      </li>
    </ol>
    <p>
      <%= submit_tag "Sign In" %>
    </p>
    <p>
      No account yet? <%= link_to 'Sign up!', signup_path %>
    </p>
  </fieldset>
<% end %>
