<%= form_for(@movie) do |f| %>
  <%= render 'shared/errors', object: @movie %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, autofocus: true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :rating %>
    <%= f.select :rating, Movie::RATINGS, { prompt: "Pick one" }, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :released_on %>
    <%= f.date_field :released_on, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :total_gross %>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <%= f.number_field :total_gross, class: "form-control" %>
      <div class="input-group-append">
        <span class="input-group-text">.00</span>
      </div>
    </div>


  </div>
  <div class="form-group">
    <%= f.label :duration %>
    <%= f.text_field :duration, size: 10, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :image_file_name %>
    <%= f.text_field :image_file_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :cast %>
    <%= f.text_field :cast, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :director %>
    <%= f.text_field :director, class: "form-control" %>
  </div>

  <legend class="col-form-label pt-0">Genres</legend>
  <%= f.collection_check_boxes(:genre_ids, Genre.all, :id, :name) do |b| %>
    <label class="form-check">
      <%= b.check_box %>
      <%= b.label %>
    </label>
  <% end %>

  <p>
    <%= f.submit class: "btn btn-primary" %>
    <%= link_to "Cancel", movies_path %>
  </p>
<% end %>
