<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <%= link_to 'Flix', root_path, class: "navbar-brand mb-0 h1" %>
    <div class="navbar-nav ml-auto">
      <% if current_user %>
        <%= link_to current_user.name, current_user, class: "nav-item nav-link" %>
        <%= link_to "Account Settings", edit_user_path(current_user), class: "nav-item nav-link" %>
        <%= link_to "Sign Out", session_path, method: :delete, class: "nav-item nav-link" %>
      <% else %>
        <%= link_to "Sign Up", signup_path, class: "nav-item nav-link" %>
        <%= link_to "Sign In", signin_path, class: "nav-item nav-link" %>
      <% end %>
    </div>
  </nav>
</header>
