<aside id="sidebar" class="float-md-right">
  <nav class="list-group">
    <%= link_to 'Released', movies_path, class: "list-group-item list-group-item-action #{"active" if current_page?(movies_path)}" %>
    <%= link_to 'Hits', filtered_movies_path(:hits), class: "list-group-item list-group-item-action #{"active" if params[:scope] == "hits"}" %>
    <%= link_to 'Flops', filtered_movies_path(:flops), class: "list-group-item list-group-item-action #{"active" if params[:scope] == "flops"}" %>
    <%= link_to 'Upcoming', filtered_movies_path(:upcoming), class: "list-group-item list-group-item-action #{"active" if params[:scope] == "upcoming"}" %>
    <%= link_to 'Recent', filtered_movies_path(:recent), class: "list-group-item list-group-item-action #{"active" if params[:scope] == "recent"}" %>
  <% if current_user_admin? %>
    <%= link_to 'Add New Movie', new_movie_path, class: "list-group-item list-group-item-action #{"active" if current_page?(new_movie_path)}" %>
  <% end %>
  </nav>
  <%= content_for(:side) %>
</aside>
